@{
    ViewBag.title = "Hakkında";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background-image: url('https://wallpapers.com/images/featured/healthcare-oco8w27tkw40cp90.jpg');
        background-size: cover;
        color: #fff;
    }

    .about-section {
        background-color: rgba(71, 36, 218, 0.7);
        padding: 60px 0;
        border-radius: 15px;
    }

    .about-section h1, .about-section h2, .about-section p {
        color: #fff;
    }

    .about-section img {
        border-radius: 10px;
    }

    .btn-custom {
        background-color: #4724da;
        border: none;
        color: #fff;
    }

    .btn-custom:hover {
        background-color: #3a1eac;
    }
</style>

<div class="container about-section mt-5 mb-5 p-4">
    <div class="row">
        <div class="col-lg-12">
            <h1>Hakkımızda</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ut eros id nunc scelerisque laoreet. Curabitur nec libero sed metus consequat varius. Morbi consectetur purus nec ligula fermentum, sit amet feugiat dui tempus.
            </p>
            <p>
                Duis sit amet eros a lorem egestas faucibus. Suspendisse potenti. Vestibulum vel sapien id eros varius suscipit. Integer at enim sed mauris fermentum venenatis a ac metus.
            </p>
        </div>
    </div>
    <br />
    <div class="row mt-4">
        <div class="col-lg-12">
            <h2>Vizyonumuz</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum volutpat dolor nec justo sodales, in commodo ipsum vestibulum. Nunc fermentum lectus ut magna ultrices viverra.
            </p>
            <br />
            <h2>Misyonumuz</h2>
            <p>
                Nam sit amet est ac metus fermentum fringilla. Nulla facilisi. Cras sed eros vel nunc laoreet auctor at ac libero. Sed euismod bibendum dolor a laoreet.
            </p>
        </div>
    </div>
</div>