@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.title = "Home";
}

<h1 style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif, Times, serif; font-size: 100px; text-align: center; margin: 200px; letter-spacing: 6px; text-shadow: 5px 5px 15px #482cb7">
    HOŞ GELDİNİZ
</h1>